*{
    margin:0px;
    padding: 0PX;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #2779a7;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:40px;
    border-bottom: 1px solid  rgba(0,0,0,0.05);


}
.menu img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: auto;
    margin-top: -35px;
    margin-bottom: 10px;
    
  
}
.blog-heading{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color:#f33c3c;
}
.blog-heading h3{
    font-size:2.4rem;
    color:#2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
  

}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border:1px solid #ececec;
    margin: 20px ;
}

.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flexbox;
    flex-direction: column;
}
.blog-text span{
    color:f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color:#272727;
}
.blog-text .blog-title:hover{
    color:#f33c3c;
    transition: all ease o.3s;
}
.blog-text  p{

color: #9b9b9b;
font-size:0.9rem;
display:-webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
margin: 20px 0px;

}
.blog-text a{
    color:#0f0f0f;

}
.blog-text a:hover{
    color:#f33c3c;
    transition: all ease 0.3s;
}
@media(max-width:1250px){

    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;

}
    
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
        
}
#blog{
    padding: 20px;
}
    
}



.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    padding-top: 40px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:#ff7200;
    font-size: 50px;
    font-family: Arial,20px;
    float: left;
    

}
.menu{


    width: 400PX;
    float:left;
    height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center ;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{

    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 20px;
}
ul li a:hover{

    color:#ff7200;
}
.search{
    width: 330px;
    float:left;
    margin-left: 270px;


}
.srch{

font-family: 'Times New Roman';
width: 200px;
height: 40px;
background: transparent;
border: 1px solid, #ff7200 ;
margin-top: 13px;
color:#fff;
border-right: none;
font-size: 16px;
float:left;
padding:10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    margin-top:13px;
    color:#fff;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}