*{
    margin:0px;
    padding: 0PX;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background: linear-gradient(90deg, rgba(19,105,31,1) 0%, rgba(97,206,112,1) 50%, rgba(2,161,227,1) 100%);
}
#blog{
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:40px;
    border-bottom: 1px solid  rgba(0,0,0,0.05);


}
.menu img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: auto;
    margin-top: -35px;
    margin-bottom: 10px;
    
  
}

.navbar{
    
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 100px;
    margin: auto;
    padding-top: 40px;
    
    background: transparent,linear-gradient(90deg, rgba(19,105,31,1) 0%, rgba(97,206,112,1) 50%, rgba(2,161,227,1) 100%);
}
.icon{
    margin: auto;
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:#ff7200;
    font-size: 50px;
    float: left;
    margin: auto;
    height: 70px;
    padding-top:0;
    

}
.menu{

    margin: auto;
    width: 500px;
    float:left;
    height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center ;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{

    text-decoration: none;
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 20px;
}
ul li a:hover{

    color:#ff7200;
}




.middle-section {
 margin: auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.search-bar {
 
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 40px 0px 0px 40px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  min-width: 450px;
  margin-left: 50px;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  min-height: 36px;
  min-width: 66px;
  background-color:#ff7200 ;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 0px 40px 40px 0px;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: #ff7200;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  border-radius: 0px 40px 40px 0;
}

.search-button:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 25px;
}


.blog-heading{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color:#f33c3c;
}
.blog-heading h3{
    font-size:2.4rem;
    color:#2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
  

}

.blog-box{
    width: 350px;
    background-color: #ffffff;
    border:1px solid #ececec;
    margin: 20px ;
    box-sizing: border-box;
    color:rgb(68, 68, 68);
   
}

.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flexbox;
    flex-direction: column;
  
}
.blog-text span{
    color:f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color:#272727;
}
.blog-text .blog-title:hover{
    color:#f33c3c;
    transition: all ease o.3s;
}
.blog-text  p{
font-size:0.9rem;
display:-webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
margin: 20px 0px;
font-family: Georgia, serif;
color:rgb(68, 68, 68);

}
.blog-text a{
    color:#0f0f0f;

}
.blog-text a:hover{
    color:#f33c3c;
    transition: all ease 0.3s;
}
.blog-text:has(+ .blog-text a:checked){
    max-height: none;
}
@media(max-width:1250px){

    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;

}
    
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
        
}
#blog{
    padding: 20px;
}
}

.firstlesson{
width: 100%;
height: 90%;

}
.firstimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/1.jpg");
   background-size: cover;
}

.firstext{
    margin: auto;
    width: 1200px;
    height: 800px;
   background:#fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align:justify;
   padding-top:50px;
   padding-left:50px;
   padding-right: 50px;
   
}
h1,h2,h3,p,blockquote{
    padding-top:20px;
    font-family:poppins;
    
}

.secondimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/2.jpg");
   background-size: cover;
}
.thirdimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/3.jpg");
   background-size: cover;
}
.forthimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/4.jpg");
   background-size: cover;
}
.fifthimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/5.jpg");
   background-size: cover;
}
.sixthimage{
    margin: auto;
    width: 100%;
    height: 400px;
   background:url("/images/6.jpg");
   background-size: cover;
}
