*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;

}



.contact{
   position: relative;
   min-height: 100vh;
   
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column ;
   background: linear-gradient(90deg, rgba(19,105,31,1) 0%, rgba(97,206,112,1) 50%, rgba(2,161,227,1) 100%);
   background-size: cover;
}
.menu img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: auto;
    margin-top: -35px;
    margin-bottom: 10px;
    

}

.contact .content{

   padding-top: 100px;
    max-width: 800px;
    text-align: center;
    padding: auto;
}
.contact .content h2{
    font-size:36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
  
    font-weight: 300;
    color: #fff;
}
.container{
    padding-top: 100px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
width: 50%;
display: flex;
flex-direction: column;

}
.container .contactInfo .box{
position: relative;
padding:20px 0;
display: flex;

}
.container .contactInfo .box .icon{
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight:300 ;

}

.container .contactInfo .box .text h3{

    font-weight:500 ;
    color: #00bcd4;
    padding-top: 5px;
}
.contactForm{
    width: 40%;
    padding: 40px;
 
   

}
.contactForm h2{
    font-size: 30px;
    color:rgb(248, 241, 241);
    font-weight: 500;

}
.contactForm .inputBox{

    position: relative;
    width: 100%;
    margin-top:10px;

}

.contactForm .inputBox input,
.contactForm .inputBox  textarea{

    width: 90%;
    padding: 5px 0;
    font-size:16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position:absolute;
    left:0;
    padding: 5px 0;
    font-size:16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~  span{

    color:#e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;
}

@media  (max-width: 991px){

.contact{
        padding:50px;
    }
.container{
    flex-direction: column;
}
.container .contactInfo{
    margin-bottom: 40px;

}
.container .contactInfo{
    width: 100%;
}

}

.navbar{
    
    width: 1200px;
    height: 75px;
    margin-top: -350px;
  
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:#ff7200;
    font-size: 50px;
    font-family:  TheSans,sans-serif,20px;
    float: left;
    

}
.menu{


    width: 400px;
    float:left;
    height: 70px;
    margin: auto;
}
.menu img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: auto;
    margin-top: -35px;
    margin-bottom: 10px;
    
  
}
.menu ul{
    float:left;
    display: flex;
    justify-content: center ;
    align-items: center;
   

}
.menu ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 14px;
    position: relative;
    
}

.menu ul li a{

    text-decoration: none;
    color:#fff;
    font-family:  TheSans,sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 20px;
}
.menu ul li :hover{

    color:#ff7200;
}
 .menu ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ff7200;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
   

}
.menu ul li:hover::after{
    width: 100%;
}

.search{
    width: 330px;
    float:left;
    margin-left: 270px;


}
.srch{

font-family: 'Times New Roman';
width: 200px;
height: 40px;
background: transparent;
border: 1px solid, #ff7200 ;
margin-top: 13px;
color:#fff;
border-right: none;
font-size: 16px;
float:left;
padding:10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-radius: 40px 0px 0px 40px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    margin-top:13px;
    color:#fff;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-radius: 0px 40px 40px 0;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}
    
